################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/QuickDAL/bin/Debug
/QuickDALTests/bin/Debug
/QuickDALTests/obj/Debug
/QuickDAL/obj/Debug
/QuickDALTests/obj
/SampleDomainTests/obj/Debug
/SampleDomainTests/bin/Debug
/SampleDomain/bin/Debug
/SampleDomain/obj/Debug
/SampleWebApp/obj/Debug
/SampleAppServicesTests/obj/Debug
/SampleAppServices/obj/Debug
/packages
