################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/QuickDAL/bin/Debug
/QuickDALTests/bin/Debug
/QuickDALTests/obj/Debug
/QuickDAL/obj/Debug
/QuickDALTests/obj
